<div class="model-job-info">
    2013国际模型展览会 展示模特<br />
    za化妆品宣传模特<br />
    露华浓化妆品展示模特<br />
    生命人寿保险广告<br />
    2012色色婚纱 走秀<br />
    电子产品 展示<br />
    丰田汽车新车上市 车模<br />
    北京汽车车模<br />
    奇瑞汽车车模<br />
    2012长安铃木车展<br />
    2012珠宝展览会周大福珠宝展示模特<br />
    手机展示模特<br />
    大众汽车宝贝<br />
    化妆品展示模特<br />
    礼服晚装 试衣模特<br />

    天猫商城 内衣<br />
    名媛服装 样片<br />
    各种公园海边花卉外拍<br />
    快乐时尚脸欧美范服装 淘宝<br />
    韩风淘宝服饰外景<br />
    淘乐游戏制服  淘宝<br />
    波西米亚长裙 淘宝<br />
    床上用品拍摄模特<br />
    婚纱影楼样片拍摄<br />
    淘宝包包拍摄<br />
    整形医院广告片<br />
    cosplay游戏服装 等等有丰富的拍摄经验<br />

    参与 红酒俏佳人，热血街头，爱闪亮 电视剧电影等拍摄<br />
</div>