<div class="model-job-info">
    模特广告类：<br />
    丸美走秀模特<br />
    卡姿兰春季订货会走秀模特<br />
    高明第四届别墅宝贝模特<br />
    番禺景雄浴缸用品模特<br />
    休闲服饰模特<br />
    美在番禺外拍模特<br />
    又一周造型模特<br />
    展示模特<br />
    佛山冬季服装试衣模特<br />
    婚纱走秀模特<br />
    T台show girl<br />
    太平洋女性网模特<br />
    super-yuna广告拍摄<br /><br />
    试衣模特<br />
    2011南方汽车展模特<br />
    2011华南国际改装车展<br />
    2012华南国际改装车展<br />
    淘宝唯嫒伱网店模特<br />
    2012年佛山岭南明珠车展<br />
    2012年琶洲汽车配件展模特<br />
    淘宝商城百罗精油模特<br />
    2012年南海广场走秀<br />
    2012东方广场车展模特<br />
    2012年环保服走秀<br />
</div>