<div class="model-job-info">
    流花服装城展示模特<br />
    怡宝路演模特<br />
    健力士啤酒品牌模特<br />
    2012夜上海PARTY，旗袍模特<br />
    时装品牌AR试衣模特<br />
    服裝網拍平面模特<br />
    POCO外拍模特<br />
    澳门威尼斯人活动礼仪<br />
    上海家化产品发布会，形象礼仪<br />
    2013琶洲汽车用品展礼仪<br />
    2013琶洲LED展专业礼仪<br />
    伊利品牌建立，活动主持等等<br />
    碧桂园楼盘圣诞PARTY<br />
    业余女DJ<br />
    湛江海港新城开盘展示模特<br />
    淘宝 bbCHANG 夏季新品模特<br />
    淘宝 summer运动装新品模特<br />
    一汽大众庆洋高尔夫车队车模<br />
    珠海赛车展示show girl<br />
    兰瑟彩妆发布会模特<br />
    开平楼盘车展模特<br />
    从化楼盘展示模特<br />
    kareiss 秋冬鞋订货会<br />
    佛山 色色婚纱走秀模特<br />
    中山 老爷车 车展模特<br />
</div>