<div class="model-job-info">
2011年环球旅游小姐大赛中国赛区10强<br />
2008年世界旅游小姐大赛北京赛区最佳上镜奖<br />
2008年亚洲皇冠小姐大赛<br />
2011年中国原生态旅游小姐大赛<br />
2011年中国希尔秀改装车超模大赛网络赛区第五名<br />
2012年中国旅游全球小姐大赛<br />
2012年封面麻豆大赛工作经验：<br />
2013香港主流空间杂志模特<br />
2013阿多尼斯开业庆典模特<br />
2013雅丽洁面膜广告女主角<br />
2013广百之夜曼妮芬内衣静态展模特<br />
2012广州国际车展江淮汽车展位模特<br />
2012夏娃诱惑内衣开业庆典内衣模特<br />
2012维尼亚之维多利亚内衣秀<br />
2012南沙国际游艇展加爵展位御用模特<br />
2012爱维斯婚纱广告平面模特<br />
2012琶洲乐派橱柜展示模特<br />
2012琶洲lephone手机展示模特<br />
2012佛山英菲尼迪4S店M长轴新车发布会<br />
2012富力君华庭楼盘模特<br />
2012环球旅游小姐10强菲律宾克拉克岛FONTANA杯美丽巡演<br />
2012广州仁孚奔驰新车发布会车模<br />
2012肯洲发型模特大赛走秀模特<br />
2012《芭黎晚香》品牌包包展销会走秀模特<br />
2012aman auis依我’之家<br />
2012秋季产品发布<br />
2011佛山国际车展凯迪拉克展位<br />
2011白云国际车展宝马展位车模<br />
2011琶洲美博会尚艺发型设计大赛模特<br />
2011丝朗造型设计发布会<br />
2010北京Veromoda平模服装发布会<br />
2011佳能电子产品展示模特<br />
2011三星手机展示模特<br />
2011诺基亚手机展示模特<br />
2010皮卡迪休闲装春夏服装秀模<br />
2010联想笔记本发布会模特<br />
2011万科金域华庭楼盘模特<br />
2011万科品墅楼盘模特<br />
2011堡狮龙走秀模特<br />
2011东芝笔记本电脑新品发布会模特<br />
2010黑牌威士忌红酒展示模特<br />
2011第三届两岸四地世界潮流发型化妆竞技大赛婚纱彩妆模特<br />
2010圣罗那秋冬试衣模特<br />
2012色色婚纱走秀<br />
2012南沙警民欢乐嘉年华活动<br />
2012番禺摄模庆典<br />
2012清溪雅蒂芬内衣秀<br />
2012中山“维多利亚的秘密”开业庆典<br />
2012花都新鸿基房地产“御龙园”开业典礼模特<br />
2012（华润万家）TIT服装走秀模特影视+平面：长期淘宝服装平面拍摄模特<br />
2012(嘉年华地产)平面广告模特<br />
2012(纤体瘦身)平面广告模特<br />
2011唯美发型杂志画册模特<br />
2011"东城西就2011"特约演员<br />
2011南方卫视娱乐节目(全民放轻松)女嘉宾<br />
2011香港意宝龙发型平面模特<br />
2011中国移动平面广告<br />
2012台湾娱乐综艺节目(美丽大作战)常驻女嘉宾<br />
2012广东卫视(天生我才)女嘉宾<br />
2012美莱整形医院专题片广告女演员<br />
2012美容采访节目专题女嘉宾<br />
2013浙江卫视(转身遇到TA)女嘉宾等等<br />
</div>