<div class="model-job-info">
    礼仪： <br />
    2012中澳沙漠大穿越新闻发布会礼仪小姐<br />
    2012中大岭南学院同学会颁奖典礼礼仪小姐<br />
    动静界美容会所周年庆典礼仪小姐<br />
    木兰园开幕式礼仪小姐<br />
    华南农业大学毕业生供求见面会礼仪小姐<br />
    华南农业大学林学院挑战职场大赛礼仪小姐<br />
    导游大赛决赛礼仪小姐<br />
    大自然木板颁奖仪式礼仪小姐<br />
    广东汇金贵金属交易所启动仪式的剪裁礼仪<br />
    宝马车展礼仪<br />
    <br />
    模特：<br />
    小型广告拍摄<br />
    美容产品宣传画报<br />
    运动器械展示海报<br />
    美容产品展示模特<br />
    电子产品展示模特<br />
    车展模特<br />
    fankai长期新装发布会试衣模特<br />
    服装模特<br />
    古摄影婚纱模特<br />
    小型活动走秀模特<br /><br />
    促销活动：<br />
    曾担任pinky swear的店员（服装）<br />
    食品酱料促销<br />
</div>