<div class="model-job-info">
车模类：<br />
2008年广州国际车站奥迪车模<br />
2009年广州国际车展铃木车模<br />
2009年凯迪拉克新车发布会车模<br />
2009INFINITI东莞新车发布FX35车模<br />
2009年白云国际会议中心车展陆丰模特<br />
2009年奔驰新车发布车模<br />
2009年广州珠江新城宾利车模<br />
2009年中山奔驰E-CLASS新车发布车模<br />
2009雷克萨斯新车ES240发布车模<br />
2009年南方汽车展销会本田车模<br />
2009郑州一级车展TOYOTA丰田车模<br />
2010年中山房车展雷克萨斯车模<br />
2010年广州国际车展东风悦达起亚车模<br />
2010年东莞国际车展一汽丰田车模<br />
2011年澳门国际车展奥迪车模<br />
2011年广州国际车展BYD车模！<br />
2011年长沙国际车展比亚迪车模<br />
2011年广州TOYOTA新车发布会车模<br />
2011年第七代凯美瑞新车发布会车模<br />
2012年广本雅阁新车发布会车模<br />
2012年海口国际车展第一车展车模<br />
2012年广州国际车展斯柯达车模<br />
<br />
服装饰品类：<br />
2009年红蜻蜓年会走秀模特<br />
2009年百丝服装发布会走秀模特<br />
2009年布衣坊服装发布会走秀模特<br />
2009流行美发饰秋冬新品发布会走秀模特<br />
2010年布波堡春秋新品发布会走秀女模特<br />
2010年六福珠宝周年纪念会珠宝走秀模特<br />
2010年joy&amp;peace春夏发布会走秀<br />
2010年邓志达晚礼服走秀模特<br />
2011年FIVEPLUS春秋新品订货会走秀女模特<br />
2011年misssixty东莞新品发布会走秀女模特<br />
2011年LEE新店开张服装展示会走秀女模特<br />
2011年Jessica新店开张走秀女模特<br />
2011年钻石世家新品发布会走秀女模特<br />
2010年广州庆祝离亚运100天活动走秀模特（和林俊杰，莫文蔚，阿信同台演出）<br />
2012年PUCCA新品发布会走秀女模特<br />
2012年周大福珠宝走秀女模特<br />
<br />
<br />
平面影视类：<br />
2008年维达纸巾广告片<br />
2008年哈乐雪冰淇淋广告片（有说台词)<br />
2008年ICOOL广告宣传片店主（大量台词）<br />
2008年韩国Q10护发素广告片（有说台词）<br />
2009年玉洁公司生产的时珍去屑止痒洗发凝露广告模特<br />
2009年真德美洗发水广告片女主角（有说台词)<br />
2009年《领航，高尔夫》平面模特<br />
2009深圳金鹏电器平面模特<br />
2010年兴隆月饼影视女演员<br />
2010年佛山家乐陶瓷砖宣传片女演员<br />
2011年澳门英皇酒店宣传视屏女演员<br />
2012年太古汇商场宣传画册服装平面模特<br />
2012年绿瘦减肥茶影视片空姐装女演员<br />
其它展示模特类：2009三星相机两面拍新机发布会展示模特<br />
2009TCL手机展示模特<br />
2009马爹利凯旋展示模特<br />
2009xo展示模特<br />
2009美的楼盘独立别墅展示模特<br />
2010年南方电视台伊卡路丝彩妆走秀模特<br />
2010龙洋酒业红酒展示会展示模特<br />
2011年力士洗发水展示模特<br />
</div>