<div class="model-job-info">
2009年青岛国际车展丰田车模<br />
2010青岛车展一汽大众车模<br />
2010年金伯利珠宝模特<br />
2010年摩托罗拉手机展示模特<br />
2010年联想电脑展示模特<br />
2011年东风日产巡展车模<br />
2011年起亚车模<br />
2011年北雪毓人羽绒服新品发布会模特<br />
2011年索尼电脑展示模特<br />
2011年三星手机新品展示模特<br />
2011年婚纱秀模特<br />
2011年金夫人皮草模特<br />
2011年北京时装周郭宝宝2012春夏新品发布会<br />
2011年古今内衣新品发布会模特<br />
2012年琶洲名美家具展模特<br />
2012年曲美内衣新品发布会模特<br />
2012年kisscat鞋子新品发布会<br />
2012年妮尔莉内衣新品发布会模特<br />
2012年深圳内衣展SWEAR展示模特<br />
2012年美思内衣新品发布会模特<br />
2012年奥维丝丽春夏内衣新品发布会模特<br />
2012年梦特娇皮具新品发布会模特<br />
2012六福珠宝展示模特<br />
2012年英菲尼迪车模<br />
2012年雷克萨斯车模<br />
2012年深港澳车展丰田车模<br />
2012年南方车展中华车模<br />
2012年摩托罗拉手机展示模特<br />
2012年camus洋酒展示模特<br />
2011年新面孔模特大赛十佳<br />
2011年新面孔模特大赛最佳上镜奖<br />
</div>