<div class="model-job-info">
益达笑容100 形象大使<br />
轩尼诗XO 形象大使<br />
2006年5月获得SINA世界杯足球宝贝广州赛区4强2006年5月获得羊城汽车嘉年华汽车宝贝十佳<br />
2007世界旅游大使大赛<br />
2008年11月获得中国小姐"斐贝之星"电视(网络)购物主持人大赛总决赛收藏小姐称号.<br />
“尊爵”晚宴 展示模特<br />
轩尼诗 晚宴<br />
黑牌 晚宴<br />
蓝带马爹利 晚宴<br />
2007诺基亚新品发布会<br />
2007东莞车展沃尔沃，路虎车模<br />
2007广交会静态展 展示模特<br />
2007东风雪铁龙车展车模<br />
2007琶洲“风行景逸”新车发布车模<br />
2008“广本雅阁中国安全行”启动仪式发布车模<br />
2008深圳车展“马自达”<br />
2008广州琶洲车展“一汽”红旗 车模<br />
2009广州本田雅阁“安全中国行” 车模<br />
2009佛山车展 利泰集团<br />
2009南方汽车展销会 广州本田<br />
2010深圳车展 东风风行2010五一展销会 广东本田<br />
2010 宝马五系Li品悦会 广州站 深圳站2010 宝马4S店车模<br />
2010 美博会<br />
“纯丝唛”服饰2008新品发布会<br />
MH&Noi（美一诺）2007冬季时装发布会 T台模特<br />
Hush Puppies（暇步士）男女包08春夏新品时尚发布会 T台模特<br />
中国珠宝玉石首饰行业翡翠之夜 T台模特<br />
淑女坊冬装新品发布会YZC衣之纯春夏发布会及秋冬发布
欧莱雅时尚发布会<br />
2008春季时尚发型秀<br />
2008美博会coseplay<br />
嘎斯·非儿试衣模特<br />
中惠*沁林山荘,美的*御海东郡<br />
梵妮 客家情平面<br />
2010 岭南时装周芳芳 李小燕 屈汀南等服装作品展<br />
柯米伦影视广告：与范冰冰合拍<br />
</div>