<div class="model-job-info">
華南地區著名模特DJ Monster Baby <br />
女盟主要成員之一韩国SARAQ女装<br />
大连凯美服装<br />
香港《COCO》<br />
《1/3》旅游杂志<br />
《GORGOR》 （封面模特）<br />
《乐天使》九月刊 （封面模特）<br />
广州南湖国旅<br />
銦奇诚家具<br />
天长地久婚纱样板<br />
爱崴思内衣<br />
POCO摄影网<br />
上野服装公司<br />
朵以服装<br />
以纯运动服装<br />
东莞婚纱小天使婚纱<br />
名人婚纱<br />
丸美护肤品<br />
游艇会泳装<br />
上海市旅游介绍<br />
迪彩美发产品<br />
从化楼盘托斯卡纳<br />
从化温泉仙沐园宣<br />
2008年琶洲国际车展<br />
2010年琶洲改装车展<br />
2009年广州汽车嘉年华<br />
2008-2009年广州丰田 (签约形象大使）<br />
2010-2011年广汽丰田 (巡展导购助理）<br />
2009年国际橡胶展乐天石化<br />
2012年建筑材料展天下无贼<br />
2012年国际服装展小妇人品牌<br />
2012年南沙游艇展加爵游艇<br />
2012年深圳大梅沙游艇展罗伊尔<br />
2013年琶洲改装车展BC展台<br />
诺基亚手机<br />
三星手机新机发布<br />
广东交易会<br />
珠海A1GP賽車大賽 RACING GIRL<br />
国际赛车大赛MISS车队RACING GIRL (赛车宝贝）（曾跟随车队参加珠海、上海、马来西亚、澳门等地区国际赛车大赛）<br />
可口可乐广省巡回活动<br />
</div>