<div class="model-job-info">
    有丰富4年平面经验，外拍经验。拍摄风格可塑性较强。与各工作室，杂志出版社，美妆美发美甲机构合作。拍摄过很多淘宝网拍，服装画册，皮具，鞋子，杂志等等。。。因而有丰富的棚拍外拍经验，会化妆造型，懂服装搭配形象设计。专业形象设计院校本科毕业，对时尚很敏感，工作敬业，不放飞机。希望我的努力给您的工作带来最大的欢乐和成效。<br />
    《实用化妆技巧》封面女郎<br />
    《精品生活》杂志专访平模<br />
    广告片《考试不用记》扮演女高中生<br />
    奥汀妮化妆品广告特约 饰名媛<br />
    《实用新娘造型》专业妆型书籍内页模特<br />
    与"斯亚广告公司"合作拍摄服装画册<br />
    "延伸视觉"婚纱样片模特<br />
    Sony阿尔法系列单反活动摄影模特<br />
    专业美甲书籍内页模特<br />
    "流行地袋"日韩包包网拍女模<br />
    "时尚风"品牌包包女模<br />
    网拍包包外景模特地王广场国庆COS白雪公主 <br />
    "依魅"女装淘宝网店模特 <br />
    "宝圣儿"牛仔裤网拍模特<br />
    "犀文图书出版社"合作时装搭配杂志女模特<br />
    DI优尚电子商城女模特<br />
    "巧衣小铺"网拍模特<br />
    我爱我佳杂货铺网拍模特<br />
    金栋服装淘宝商城女模特<br />
    真命天子皮具淘宝商城专用女模特<br />
    香港星点发型培训机构杂志女模特<br />
    2013流行美万绿湖订货会发型妆面产品展示模特<br />
</div>