<div class="model-job-info">
彩绘：<br />
第十三届中国(广州)国际建材展 彩绘模特<br />
東莞,佛山夜場彩繪<br />
2012順德樂從汽車展彩繪模特<br />
顺德电子展彩绘模特<br />
“视觉盛宴 真相之旅”简一大理石世界巡回之旅   签约彩绘模特<br />
顺德欧神诺瓷砖开业彩绘模特<br />
楼盘彩绘<br />
佛山bingo酒吧彩绘模特<br />
花都VIVA_CLUB 彩绘模特<br />
2013琶洲美博会  彩绘模特<br />
<br />
模特展示走秀：<br />
2010年第二届广州进口汽车展礼仪<br />
2010年南国书香节开幕式礼仪<br />
中国时尚内衣模特大赛新闻发布会模特<br />
碧桂园楼盘<br />
发型模特走秀<br />
佛山明珠新年演唱会<br />
“海心之恋，星耀花城”服饰展示模特<br />
“聚焦绿道．印象广东”华隧杯摄影大赛颁奖典礼仪<br />
广粤新天地，欢乐庆元宵 展示<br />
佳能展示模特<br />
三一汽车起重机春季全国联展<br />
2011木果果木秋季订货会模特<br />
东莞虎门百威礼仪<br />
nokia展示<br />
"1881"夏威夷风情展示模特<br />
第十三届中国(广州)国际建材展展示模特<br />
（美国）原子弹啤酒展示模特<br />
《全民放轻松》夏日水上外景拍摄模特<br />
1881 酒吧粉红朋克派对模特<br />
顺德电子展展示模特<br />
顺德欧神诺瓷砖开业展示模特<br />
东莞石龙镇“皇庭壹号公馆”楼盘静态展示模特<br />
婚博会展示模特<br />
保利外滩一号楼盘<br />
3G手机展示模特<br />
野格洋酒展示<br />
2013广州改装车展比基尼展示模特<br />
2013广州中国铝门窗幕墙新产品行业展 展示模特<br />
2013旅游小姐发布会走秀模特<br />
南沙大酒店走秀模特<br />
</div>