<div class="model-job-info"><br />
参赛经历：<br />
2010年中国新塘国际牛仔形象大使大赛”荣获冠军<br />
2010年亚洲小姐总决赛竞选十强<br />
2010年中国新面孔职业模特大赛获“最佳上镜奖”；“十佳模特”；和“晨女郎”称号2009年湖北第十三届职业轿车模特大赛获得“最佳轿车职业模特奖”<br />
2009年爱美丽内衣模特大赛获得“最佳体态奖”<br />
<br />
演出经历：阿珍妮、米珂拉、等品牌服装发布会指定模特<br />
2008年--2010年莫凡网店的淘宝模特<br />
2011年报纸、杂志平面模特<br />
2012年各类服装、画册、淘宝、外景等等拍摄、广告活动<br />
2008年华中车展车模、楚天车展车模，上海大众车模<br />
2009年11月法拉利车展车模<br />
2009.2010年东风风神汽车车模<br />
天天车市网2009年12月电子杂志一汽大众汽车宝贝<br />
2010年一汽大众车模<br />
1月上海汽车巡演车模<br />
全国巡演车展车模<br />
2011年 华中车展、楚天车展<br />
2011年广州、深圳全国巡演车展模特<br />
2011年11月21-27号中韩秋季文化节--韩国现代车模<br />
2011年武汉会展中心湖北工业汽车博览会--mini cooper车模<br />
2012年5月武展 楚天车展 音乐节<br />
2012年杭州、厦门全国巡演车展<br />
2012年6月光谷大洋百货 古时珠宝走秀展示模特<br />
2012年4月代表我校赴北京时装周走秀各大型春、夏、秋、冬服装发布会走秀、房地产、家居、电器展示，平面广告等<br />
</div>